body{
    background-image: url(img/fundo-digital-do-espaco-azul-da-copia_23-2148821698.jpg);
    background-size: cover;
}

#img1{
    position: relative;
    top: 240px;
    left: -10px;
    filter: hue-rotate();
    
}

ul{
    color: white;
    font-size: 25px;
    position: relative;
    left: 650px;
    top: -250px;
}

.container{
    position: relative;
    right: -650px;
    top: -260px;
    height: 117px;
    width: 332px;
}

#img2{
   height: 130px;
   width: 350px;
   border: 10px;
  border-radius: 500px;
  filter: hue-rotate(250deg);
}

